---
---

@import 'variables/colors';
@import 'variables/sizing';

main.content-limiter.-page {
  // Limit page width to a smaller size to make lines of text the perfect length
  max-width: $thin-width;
}

.all-posts-cont {  margin-bottom: 30px; }

.red-button {
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  background-color: $mid-grey;
  border-radius: 5px;
  color: $text-grey;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s;

  &.disabled {
    background-color: transparent;
    color: $dark-grey;
  }

  &:not(.disabled):hover, &:focus {
    background-color: $brand-red;
    color: $white;
    text-decoration: none;
  }
}

.post-date {
  display: inline-block;
  width: 100%;
  text-align: left;
  color: $text-light;
}

hr {
  height: 1px;
  background: $light-grey;
  border: none;
}

/* Post List Styling on the Posts page */

.post-list {
  padding-left: 0px;
  padding-top: 15px;
  list-style: none;
}

.post-listing {
  text-align: left;

  + .post-listing { margin-top: 50px; }

  .post-heading { margin-bottom: 5px; }

  h2 { margin: 0; }

  .category {
    position: relative;
    bottom: 4px;
    padding: 2px 10px;
    background: $mid-grey;
    border-radius: 5px;
    vertical-align: baseline;
    font-size: 12px;
    margin-left: 10px;
  }

  .excerpt p { margin: 0px; }
}
/* End post list styling */

.post-controls {
  margin: 60px 0 30px 0;

  a:first-of-type { margin-right: 10px; }
}

// Style blog blockquotes
blockquote {
  padding: 20px 30px;
  line-height: 1.75;
  font-style: italic;
  color: $dark-grey;
  margin-inline-start: 10px;
  background-color: $off-white-dark;
  border-left: solid 5px $brand-red;

  p { margin: 0; }
}

// Style blog images
p > img {
  border: solid 1px $grey;
  box-shadow: 1px 1px 5px $shadow-color;
}
