---
---

@import 'variables/colors';

.all-posts-cont {  margin-bottom: 30px; }
.red-button
{
  padding: 2px 15px;
  text-decoration: none;
  background-color: gainsboro;
  border-radius: 3px;
  color: #101010;
  font-weight: 600;

  &.disabled
  {
    background-color: transparent;
    color: $grey;
  }
  &:not(.disabled):hover
  {
    background-color: $brand-red;
    color: $white;
    text-decoration: none;
  }
}
.post-date
{
  display: inline-block;
  width: 100%;
  text-align: left;
}
hr
{
  height: 1px;
  background: $light-grey;
  border: none;
}

/* Post List Styling on the Posts page */
.post-list
{
  padding-left: 0px;
  list-style: none;
}
.post-listing
{
  text-align: left;
  margin-top: 30px;

  .post-heading { margin-bottom: 10px; }
  .title
  {
    font-size: 24px;
    font-weight: 600;
    margin-right: 10px;
  }
  .category {
    display: none;
    padding: 2px 10px;
    background: $mid-grey;
    margin-top: 8px;
    border-radius: 5px;
    vertical-align: top;
    font-size: 12px;
  }
  .date { float: right; }
  .excerpt p { margin: 0px; }
}
/* End post list styling */

.post-controls { margin-top: 60px; }
