---
---

/**
 * Homepage (index) styling
 */

@import 'variables/colors';
@import 'variables/sizing';

body {
  background-color: $white;
}

$desktop-img-size: 30rem;

.main-cont {
  display: grid;
  grid-template-rows: $desktop-img-size;
  grid-template-columns: $desktop-img-size 1fr;
  width: 95%;
  max-width: $max-cont-width;
  margin: 5rem auto 0;
  background-color: $off-white;
  box-shadow: 2px 2px 50px 5px $shadow-color;
  border-radius: 10px;
  overflow: hidden;

  img { height: 100%; }
}

.text-cont {
  padding: 0 3rem;
  align-self: center;

  h1 { font-size: 4rem; }

  p {
    max-width: 600px;
    color: $dark-grey;
    font-size: 1.25rem;
  }
  .tagline {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 600;
    color: $dark-grey;
  }
}

// On smaller desktop screens, shrink image
@media (max-width: 1200px) {
  .main-cont {
    grid-template-columns: auto auto;

    img {
      height: 70%;
      margin-left: 2rem;
      align-self: center;
    }
    .text-cont { padding: 0 2rem; }
  }
}

// Switch to mobile layout on tablets and
@media (max-width: 1000px) {
  .main-cont {
    // Switch to one column layout
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    background-color: transparent;
    width: 90%;
    box-shadow: none;
    margin-top: 0;
    border-radius: 0;
    overflow: intial; // ensure <img> box-shadow shows

    img {
      width: 75%;
      max-width: 400px;
      height: auto;
      margin: auto;
      box-shadow: 2px 4px 10px $shadow-color;
    }
    .text-cont {
      padding: 1.25rem 0;
      align-self: flex-start;

      h1 { font-size: 3rem; }
    }
  }
}
