---
---

@import 'variables/colors';
@import 'variables/sizing';

@import 'header';
@import 'footer';

body
{
  position: relative;
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding-top: 40px;
  padding-bottom: 60px;
  background: $off-white;
  font-size: 18px;
  color: $charcoal;
}
button { font-family: 'Open Sans', sans-serif; }

// Make buttons and links have a nice red dashed outline on focus
button, a {
  &:focus { outline: dashed 3px $brand-red; }
}

// Make all basic links a dark red without an underline and then switch to
// darkest red and underline on hover/focus
a {
  text-decoration: none;
  color: $dark-red;

  &:hover, &:focus {
    text-decoration: underline;
    color: $darkest-red;
  }
}

.linked-heading {
  .link-icon {
    // Hide main (red) icon until hovering
    &:not(:hover):not(:focus) {
      .main { display: none; }
    }
    &:hover, &:focus {
      .placeholder { display: none; }
      .main { display: inline; }
    }
    img {
      display: inline;
      position: relative;
      top: 5px;
      width: 25px;
      height: 25px;
      margin: 0;
    }
  }

  // Move linked-heading targets up 90px to adjust for the sticky header
  .target {
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
  }
}

// Helpers
.text-center { text-align: center; }

// Generic page styles
.page-limiter

{  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
}
.page-container
{
  margin-top: 20px;
}
.page-desc { margin-bottom: 30px; }
.button-link
{
  position: relative;
  top: 0px;
  color: $white;
  font-weight: 600;
  text-decoration: none;
  background: red;
  padding: 5px 10px 5px 10px;
  border-radius:10px;
  border-bottom: solid #960000 4px;
}
.button-link:hover
{
  top: 2px;
  border-bottom: solid #960000 2px;
}

// Brand font is just bold open sans
.brand-font { font-weight: 600; }
.brand-color { color: $brand-red; }

h1 { font-weight: 600; margin: 0px; }
h4 { font-weight: 600; margin-top: 10px; }

/* Gallery Plugin Styling */
.overlay-transparent
{
  display: none;
  position: fixed;
  background: rgba(0,0,0,0.75);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.img-base {
  width: 100%;
  text-align: center;
}
.img-container
{
  display: inline-block;
  position: relative;
}
/* Style overlay info section */
#overlay-main .info-sect {
  position: absolute;
  width: 100%;
  color: white;
  bottom: 0px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.7);
}
.info-sect.open { padding: 25px 10px; }
.info-sect:not(.open) .title, .info-sect:not(.open) .description {
  display: none;
}
.info-sect .title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.5em;
}
#overlay-main .icon.info
{
  position: absolute;
  top: -50px;
  right: -1px;
  width: 50px;
  height: 50px;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-color: black;
  cursor: pointer;
  border-top-left-radius: 15px;
  border: none;
  opacity: 0.7;
  transition: opacity 0.3s;
}
/* On focus and hover make info icon fully visible */
#overlay-main .icon.info:hover, #overlay-main .icon.info:focus
{
  opacity: 1;
}
/* And add box-shadow on focus to override outline */
#overlay-main .icon.info:focus
{
  box-shadow: -2px -2px 0px 1px white;
  outline: none;
}
#overlay-main img
{
  max-width: 90vw;
  max-height: 80vh;
}
#overlay-info
{
  z-index: 20;
  color: white;
}
#overlay-info .title
{
  font-size: 36px;
  font-weight: 600;
}
#overlay-info #close:hover
{
  background: rgba(0,0,0,1);
}
#overlay-info .description { font-size: 20px; }
#overlay-info .description a {
  color: $brand-red;
  text-decoration: none;
}
.info-cont
{
  width: 100%;
  max-width: 1000px;
}
#overlay-controls
{
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 11;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/* Make the images (arrows and close) and nav-dots still take pointer events */
#overlay-controls button, #overlay-controls .nav-dot { pointer-events: auto; }

/* Style overlay buttons */
.over-btn
{
  position: fixed;
  background: rgba(0,0,0,0.5);
  border: none;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
  width: 50px;
  height: 50px;
}
.over-btn img
{
  width: 100%;
  height: 100%;
}
/* On hover and focus darken background */
.over-btn:hover, .over-btn:focus
{
  background: rgba(0,0,0,1);
}
/* On focus add white box-shadow to replace outline */
.over-btn:focus
{
  box-shadow: 0px 0px 0px 3px white;
  outline: none;
}
#overlay-controls #close, #overlay-info #close
{
  z-index: 25;
  top: 10px;
  right: 10px;
}
#overlay-controls #left { left: 1%; }
#overlay-controls #right { right: 1%; }
#overlay-controls .nav-dot
{
  display: inline-block;
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 0px 5px;
  box-sizing: border-box;
  cursor: pointer;
}
#overlay-controls .nav-dot:hover
{
  border: solid 1px white;
}
#overlay-controls .nav-dot.active
{
  background-color: white;
}
#overlay-controls .gallery-nav
{
  width: 100vw;
  bottom: 0px;
  height: 30px;
  position: absolute;
  text-align: center;
}
/* End Gallery Plugin Styling */

/****************************/
/****** GENERIC CLASSES *****/
/****************************/

.centered
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vertically-centered
{
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
.blur
{
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.left-align { text-align: left; }
.no-bold { font-weight: normal; }
code.inline, code.highlighter-rouge
{
  font-family: monospace;
  background: $white;
  font-size: 0.9em;
  padding: 2px 5px;
  background-color: $light-red;
  color: $brand-red;
  border-radius: 5px;
}

/* Code for fluid full width video from CSS Tricks:
https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.video-cont { max-width: 700px; }
.videoWrapper
{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper.slides { padding-top: 29px; }
.videoWrapper iframe
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}