---
---

/**
 * The CSS for blog posts. This is for any custom elements that can be used
 * across multiple posts, or for styling we want to apply only to blog posts.
 */

@import 'variables/colors';

main.post {
  .category-pill {
    font-size: 0.75rem;
    background: $light-grey;
    padding: 0 0.75rem;
    display: inline-block;
    border-radius: 10rem;
    margin-top: 0.5rem;
  }

  // Make images and videos centered by default and at most full width
  img, video {
    display: block;
    margin: auto;
    max-width: 100%;

    &.-with-background {
      // Add background color for SVGs
      background-color: $white;
      padding: 1rem;
    }
  }

  // Add spacing between list items
  ol li + li, ul li + li { margin-top: 0.5rem; }

  // Style code highlight blocks
  figure.highlight {
    margin: 0;
  }

  .highlight { border-radius: 5px; }

  figure.highlight pre, pre.highlight {
    padding: 20px;
    font-size: 0.9rem;
    overflow-x: auto;

    pre.lineno {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  // Disable padding if we're using the highlighter directly as we typically
  // have line numbers
  figure.highlight > pre { padding: 0; }

  .table-of-contents {
    padding-top: 10px;

    &, ol { padding-left: 20px; }

    ol { list-style: lower-alpha; }
    ol ol { list-style: lower-roman; }
  }

  /**
   * The notice panel is for in post warnings, alerts, or info blocks!
   */
  .notice-panel {
    padding: 15px;
    background-color: $off-white-dark;
    border: solid 1px $light-grey;
    border-radius: 15px;

    .notice-label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    // Variant colors
    &.-warning {
      background-color: #FFFACE;
      color: #42291A;
    }

    // Ensure paragraphs do not give extra padding
    p:first-of-type { margin-top: 0; }
    p:last-of-type { margin-bottom: 0; }
  }

  .post-date {
    display: inline-block;
    width: 100%;
    text-align: left;
    color: var(--text-color-faded);
  }

  // Style blog blockquotes
  blockquote {
    padding: 20px 30px;
    line-height: 1.75;
    font-style: italic;
    margin-inline-start: 10px;
    background-color: var(--bit-dark-bg-color);
    color: var(--text-color-dark);
    border-left: solid 5px var(--brand-bg-color);

    p { margin: 0; }
  }

  // Style blog images
  p {
    &.small {
      font-size: 0.9rem;
      color: var(--text-color-faded);
    }

    > img:not(.-no-shadow) {
      border: solid 1px $grey;
      box-shadow: 1px 1px 5px $shadow-color;
    }
  }
}
