---
---

/**
 * The CSS for blog posts. This is for any custom elements that can be used
 * across multiple posts, or for styling we want to apply only to blog posts.
 */

@import 'variables/colors';

main.post {
  // Make images centered by default
  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }

  // Style code highlight blocks
  figure.highlight {
    margin: 0;
  }

  figure.highlight pre, pre.highlight {
    padding: 20px;
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: $white;
  }

  /**
   * The notice panel is for in post warnings, alerts, or info blocks!
   */
  .notice-panel {
    padding: 15px;
    background-color: $off-white-dark;
    border: solid 1px $light-grey;
    border-radius: 15px;

    .notice-label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    // Variant colors
    &.-warning {
      background-color: #FFFACE;
      color: #42291A;
    }

    // Ensure paragraphs do not give extra padding
    p:first-of-type { margin-top: 0; }
    p:last-of-type { margin-bottom: 0; }
  }
}
