---
---

/**
 * The stylesheet for the project layout, which is used for individual project
 * pages.
 */

@import 'variables/colors';

main.content-limiter.project {
  // Make page full width for hero
  width: 100%;
  max-width: none;
  padding-top: 0;
}

h2 { margin-top: 4rem; }

.proj-tools-cont {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px 0;
  gap: 45px;

  .tool-cont {
    display: inline-block;
    text-align: center;

    img {
      height: 80px;
      min-width: 80px;
      background-color: $white;
      border-radius: 5px;
      padding: 15px;
    }

    .text { margin-top: 5px; }

    .featured-text {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      height: 110px;
      box-sizing: border-box;
      background-color: white;
      color: #444444;
      width: 110px;
      border-radius: 5px;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;

      &.large { font-size: 48px; }
    }
  }
}

.gallery-preview {
  // The amount in both axes the second image is offset from the first
  $img-offset: 20px;

  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s;
  overflow: hidden;
  padding: 0 $img-offset $img-offset 0;
  border: none;
  background: none;
  overflow: visible;
  margin-top: 1rem;

  &:hover img {
    box-shadow: 0px 6px 2px $light-shadow-color;
  }

  .text {
    font-size: 1.5em;
    padding: 10px 0;
  }

  img {
    width: 100%;
    max-width: 800px;
    box-shadow: 0px 4px 2px $light-shadow-color;
    border-radius: 5px;
  }

  // Make second image below and offset from primary
  img.secondary {
    position: absolute;
    top: $img-offset;
    right: 0px;
    z-index: -1;
    height: calc(100% - #{$img-offset});
    object-fit: cover;
    object-position: right;
  }
}

// Limit paragraphs to 800px width for readability
p { max-width: 800px; }
