---
layout: default
stylesheets:
 - post.css
---

<h1>Technical Blog</h1>
<h4 class="left-align">
	Sometimes I feel inspired to write down my thoughts on languages and frameworks I'm using,
  good programming practices, and other technical stuff. Here you can read through all of my musings.
</h4>
<h4 class="left-align">
  <span class="no-bold">
    <b>Note:</b> I also have a tumblr blog where I put less technical writings and screenshots
    of stuff that I'm working on. Check it out <a href="http://vkstech.tumblr.com/" target="_blank">here</a>!
  </span>
</h4>
<hr>
<ul class="post-list">
  {% for post in site.posts %}
    <li class="post-listing">
      <a href="{{ post.url }}">
      	<span class="title">{{ post.title }}</span>
      </a>
      {% if post.draft %}
        <span class="category" style="display: inline-block">Draft</span>
      {% endif %}
      {% for category in post.categories %}
        <span class="category">{{ category }}</span>
      {% endfor %}
      <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
      <span class="excerpt">{{ post.excerpt }}</span>
    </li>
  {% endfor %}
</ul>