body
{
	text-align: center;
	background: #FFB8B8;
	color: #D60000;
}

/* Start screen*/
.game-window
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.25);
	border-bottom: solid;
}
.game-window#main
{
	border: solid;
	height: 600px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
#game-title
{
    font-size: 80px;
    margin-bottom: 20px;
    padding-top: 150px !important;
    margin-top: 0px !important;
}
.button-link
{
	width: 200px;
	cursor: pointer;
	border-radius: 6px !important;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
.button-link:hover
{
	margin-bottom: 12px;
}
/* End start screen */
/* Help Screen */
#help-screen
{
	display: none;
}
#help-screen h1
{
	padding-top: 160px !important;
	margin-top: 0px !important;
	margin-bottom: 10px;
}
#help-screen b
{
	color: white;
}
#help-screen #back
{
	margin-top: 15px;
}
#help-screen #text-box
{
	    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background: #FF4545;
    padding: 10px;
    box-shadow: 3px 3px white;
}
/* End Help Screen*/
#game-screen
{
	display: none;
}

h1
{
	margin-top: 40px !important;
}
h2
{
	margin-top: 0px;
	padding-top: 10px;
	color: white;
    text-shadow: 0px 0px 10px red;
}
#heart, #heart2
{
	margin-top: 100px;
}
#heart2
{
	position: absolute;
    top: 0px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    z-index: -1;

	animation: beating 1s infinite;
}
#heart2 #layer1
{
	margin-left: 10px;
}
#viktory
{
	display: none;
	opacity: 0;
	transition: opacity 5s;
	position: absolute;
    width: 100%;
    top: 0;
}
@keyframes beating {
    0%   {    transform: scale(1.1); opacity: 0.25;}
    20%  {    transform: scale(1.2); opacity: 0.5;}
    45%  { transform: scale(1.1); opacity: 0.25;}
    100% {    transform: scale(1.1); opacity: 0.25;}
}
#heart2 #layer1 path
{
	fill: white !important;
}
