---
layout: default
title: Work
pageClass: '-no-padding'
stylesheets:
 - pages/work.css
---

<div class="shapes-hero">
	<div class="content-limiter">
		<h1>Highlighted Work</h1>

		<div class="shape square -white"></div>
		<div class="shape triangle -svg -white">
			{% include svgs/triangle.svg %}
		</div>
		<div class="shape pentagon -svg -white">
			{% include svgs/pentagon.svg %}
		</div>
		<div class="shape circle -white"></div>
		<div class="shape circle -large -white"></div>
	</div>
</div>

<section class="content-limiter">
	<div class="page-desc">
		<p>
			I've worked on projects large and small, from just front-end development to
			taking on the entire architecture of complex websites. Below is a sampling
			of some of the projects I have worked on.
		</p>
	</div>

	{% assign ordered_projects = site.projects | sort: "order" %}

	<div class="projects-container">
		{% for project in ordered_projects %}
			<div class="projects-tile">
				<h2 class="title">
					<a href="{{ project.url }}">{{ project.name }}</a>
				</h2>
				<div class="sub-title">{{ project.subtitle }} </div>
				<!-- The thumbnail is hidden as it's a duplicate link to the title, which
					is more clear -->
				<a href="{{ project.url }}" aria-hidden="true" tabindex="-1">
					<img src="{{ project.thumbnail }}" alt="">
				</a>
			</div>
		{% endfor %}
	</div>
</section>
