---
layout: default
pageClass: '-no-padding-top'
stylesheets:
 - writing.css
title: "Writing"
---

{% include shapesHero.html heading="Writing" %}

<ul class="post-list content-limiter -thin">
  {% for post in site.posts %}
    {% if post.categories contains "Archive" or post.categories contains "WIP" %}
      {% continue %}
    {% endif %}

    <li class="post-listing">
      <div class="post-heading">
        <h2>
          <a href="{{ post.url }}" class="title">
            {{ post.title }}
          </a>
          {% if post.draft %}
            <span class="category -draft">Draft</span>
          {% endif %}
        </h2>

        {% for category in post.categories %}
          <span class="category">{{ category }}</span>
        {% endfor %}
      </div>

      <div class="excerpt">
        {{ post.excerpt }}
      </div>
    </li>
  {% endfor %}
</ul>