---
layout: default
stylesheets:
 - blog.css
title: "Writing"
---

<h1 class="page-title">Writing</h1>

<ul class="post-list">
  {% for post in site.posts %}
    {% if post.categories contains "Archive" %}
      {% continue %}
    {% endif %}

    <li class="post-listing">
      <div class="post-heading">
        <a href="{{ post.url }}">
        	<span class="title">{{ post.title }}</span>
        </a>
        {% if post.draft %}
          <span class="category" style="display: inline-block">Draft</span>
        {% endif %}
        {% for category in post.categories %}
          <span class="category">{{ category }}</span>
        {% endfor %}
        <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>
      </div>

      <div class="excerpt">
        {{ post.excerpt }}
      </div>
    </li>
  {% endfor %}
</ul>