{% comment %} Site wide footer {% endcomment %}
<footer class="footer">
  <ul class="social-bar">
    <!-- Since these are all CSS images, add aria-label for a11y -->
    <li>
      <a href="https://github.com/vkoves" aria-label="Viktor on GitHub">
        <div class="icon github"></div>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/viktor_koves" aria-label="Viktor on Twitter">
        <div class="icon twitter"></div>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/viktorkoves" aria-label="Viktor on LinkedIn">
        <div class="icon linkedin"></div>
      </a>
    </li>
  </ul>
</footer>
