{% comment %} Site wide header {% endcomment %}
<header id="header" class="filter-transition">
  <div id="header-inside">
    <div class="header-main">
      <span id="title"><a href="/" class="local-link">Viktor K&ouml;ves</a></span>

      <img id="menu" src="/images/menu.svg" alt="Menu">
    </div>

    <div id="header-buttons">
      <a href="/gallery" class="local-link">Gallery</a> |
      <a href="/portfolio" class="local-link">Portfolio</a> |
      <a href="/blog">Blog</a>
    </div>
  </div>
</header>
