{% comment %} Site wide header {% endcomment %}
<header id="header" class="site-header">
  <nav class="header-inside">
    <div class="header-main">
      <a href="/" class="local-link name">Viktor K&ouml;ves</a>

      <button id="menu-btn" class="menu-btn">
        <img src="/images/menu.svg" alt="Toggle Menu">
      </button>
    </div>

    <ul class="header-buttons">
      <li>
        <a href="/portfolio" class="local-link">Portfolio</a>
      </li>
      <li>
        <a href="/writing" class="local-link">Writing</a>
      </li>
      <li>
        <a href="/hire-me" class="local-link hire-me">Hire Me</a>
      </li>
    </ul>
  </nav>
</header>
