{% comment %} Site wide header {% endcomment %}
<header id="header" class="filter-transition">
  <nav id="header-inside">
    <div class="header-main">
      <a href="/" class="local-link">Viktor K&ouml;ves</a>

      <img id="menu" src="/images/menu.svg" alt="Menu">
    </div>

    <ul id="header-buttons">
      <li>
        <a href="/gallery" class="local-link">Gallery</a> |
      </li>
      <li>
        <a href="/portfolio" class="local-link">Portfolio</a> |
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>
</header>
