{% comment %}
Displays a given heading with a link back to it using an anchor tag.

Takes in a `heading` string and a `level` number. Ex:

{% include linkedHeading.html heading="My Heading" level=1 %}

{% endcomment %}

{% assign heading = include.heading %}
{% assign headingId = heading | slugify %}

<h{{ include.level }} class="linked-heading" id="{{ headingId }}">
  {{ heading }}

  <a href="#{{ headingId }}"
    class="link-icon"
    title="Link to '{{ heading }}' heading">
    <img src="/images/icons/link-red.svg" class="main" alt="Link to '{{ heading }}' heading">
    <img src="/images/icons/link.svg" class="placeholder" alt="Link to '{{ heading }}' heading">
  </a>
</h{{ include.level }}>