{% comment %}
Displays a given heading with a link back to it using an anchor tag.

Takes in a `heading` string and a `level` number. Ex:

{% include linkedHeading.html heading="My Heading" level=1 %}

{% endcomment %}

{% assign heading = include.heading %}
{% assign headingId = heading | slugify %}

<h{{ include.level }} class="linked-heading">
  {{ heading }}

  <a href="#{{ headingId }}"
    class="link-icon"
    title="Link to '{{ heading }}' heading">
    <img src="/images/icons/link-red.svg" alt="Link to '{{ heading }}' heading">
  </a>

  <!-- Make the target a separate element so it can be moved -->
  <a id="{{ headingId }}" class="target"></a>
</h{{ include.level }}>