$header-mob-height: 72px;

.site-header {
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: left;
  background: $brand-red;
  z-index: 5;
  font-size: 18px;

  .header-main { display: inline-block; }

  ul {
    list-style: none;
    margin: 0;

    li { display: inline; }
  }
}

.header-inside {
  box-sizing: border-box;
  height: 100%;
  width: 80%;
  padding: 10px 0;
  margin: auto;
  color: $white;
  font-weight: 400;
  max-width: $max-cont-width;
}

.site-header a {
  color: $white;
  border-radius: 8px;
  transition: color 0.2s, padding 0.2s, background 0.2s;
  padding: 3px 10px 3px 10px;

  &, &:hover, &:focus { text-decoration: none; }

  &:hover, &:focus {
    color: $dark-grey;
    background-color: $white;
    padding: 3px 10px 3px 10px;
  }
}

// Make header links and buttons have clear focus
.site-header a:focus, .site-header button:focus {
  outline: dashed 3px $white;
}

.header-buttons { float: right; }

.menu-btn {
  display: none;
  box-sizing: border-box;
  cursor: pointer;
  width: 50px;
  padding: 5px;
  background: none;
  border: none;

  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

/**
 * Tablet-ish & mobile styling
 */
@media (max-width: 800px) {
  .header-inside {
    width: 100%;
    padding: 10px;
  }
}

/**
 * Mobile styling
 */
@media (max-width: 600px) {
  body { padding-top: $header-mob-height !important; }

  .menu-btn { display: block; }

  .site-header {
    height: $header-mob-height;
    transition: height 0.3s;
    overflow: hidden;
    font-size: 24px;

    &:not(.-open) {
      .header-buttons { display: none; }
    }
    &.-open {
      height: $header-mob-height * 2;
    }

    .header-inside { padding: 0; }

    .header-main, .header-buttons { padding: 10px 20px; }

    .header-main {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .header-buttons {
    width: 100%;
    padding-top: 0;
    text-align: center;

    li + li { margin-left: 30px; }
  }
}
