// Generic (HTML) colors
$white:         #FFFFFF; // white
$off-white:     #F3F3F3;
$light-grey:    #D3D3D3; // lightgrey
$mid-grey:      #DCDCDC; // gainsboro
$grey:          #808080; // grey
$dark-grey:     #404040;
$charcoal:      #272727;

// Theme colors
$light-red:     #FFE8EC;
$brand-red:      #D80000;