---
---

@import 'variables/colors';

/* Gallery Page */
.img-container .info { background-image: url("/images/icons/info-white.svg"); }
.icon.fullscreen
{
  background-image: url("/images/icons/zoom_out_map.svg");
  background-size: 100%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc((100% - 50px)/2);
  top: calc((100% - 50px)/2);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}
#gallery-container
{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.gallery-img
{
  display: inline-block;
  z-index: 0;
  position: relative;
  cursor: pointer;
  background: white;
  border: none;
  width: calc(33% - 30px);
  padding: 5px;
  margin: 10px;
  box-shadow: 1px 1px 5px #887F7F;
}
/* Hobby Photos hidden by default */
.gallery-img.hobby { display: none; }
.gallery-img img
{
  width: 100%;
  transition: all 0.3s;
}
.gallery-img:hover > img, .gallery-img:focus > img
{
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
.gallery-img:hover > .icon, .gallery-img:focus > .icon
{
  opacity: 1;
}
/* Override default outline for gallery images */
.gallery-img:focus
{
  outline: dashed 3px $brand-red;
}
@media (max-width: 600px)
{
  .gallery-img
  {
    width: 90%;
  }
}