---
---

@import 'variables/colors';

/** Portfolio Page **/
.projects-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects-tile
{
  display: inline-block;
  width: 90%;
  margin: 0 0 60px 0;
  max-width: 450px;
  text-align: left;
  box-sizing: border-box;
  background: white;
  box-shadow: 1px 1px 5px $shadow-color;

  .title
  {
    font-weight: 600;
    font-size: 26px;
    margin: 20px 20px 5px 20px;
  }
  .sub-title
  {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  img
  {
    display: block;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
}

.tool-cont
{
  display: inline-block;
  text-align: center;
  margin: 10px 30px;

  img
  {
    height: 80px;
    min-width: 80px;
    background-color: $white;
    border-radius: 5px;
    padding: 15px;
  }
  .text { margin-top: 5px; }
  .featured-text
  {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 110px;
    box-sizing: border-box;
    background-color: white;
    color: #444444;
    width: 110px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

    &.large { font-size: 48px; }
  }
}
