---
---

@use 'variables/colors' as *;
@use 'variables/sizing' as *;

.page-desc {
  max-width: $thin-width;
}

.projects-tile {
  width: 80%;
  margin-bottom: 5rem;

  h2 { font-size: 2rem; }

  p.sub-title { margin-top: 1rem; }

  img {
    display: block;
    width: 100%;
    margin-top: 2rem;
    border: solid 1px $mid-grey;
    box-shadow: 0 4px 2px $light-shadow-color;
    border-radius: 5px;
  }
}

@media (max-width: $mobile-max-width) {
  .projects-tile { width: 100%; }
}
