<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/main.css" rel="stylesheet">

    <!-- jQuery and main.js are not used for render, just interaction like the
        mobile menu. Since main.js needs jQuery, we use defer instead of async -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="/js/main.js"></script>

    <link rel="shortcut icon" type="image/png" href="/images/favicon.ico"/>
    <!-- Added Open Sans from Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet" type="text/css">

    <!-- Pull in layout JS and CSS first so page CSS can override -->
    {% for stylesheet in layout.stylesheets %}
        <link href="/css/{{  stylesheet }}" rel="stylesheet">
    {% endfor %}
    {% for stylesheet in page.stylesheets %}
        <link href="/css/{{  stylesheet }}" rel="stylesheet">
    {% endfor %}

    <!-- Mark all page specific JS deferred so it waits for jQuery and doesn't
            block render -->
    {% for script in layout.scripts %}
        <script defer src="/js/{{ script }}"></script>
    {% endfor %}
    {% for script in page.scripts %}
        <script defer src="/js/{{ script }}"></script>
    {% endfor %}

    <title>
        {% comment %}
            Compute page title for <title> and <meta> tags. Use page title + ' - ' +
            site title, UNLESS the page title already contains the site title, like on
            the homepage.
        {% endcomment %}

        {% if page.title %}
            {% if page.title contains site.title %}
                {% assign pageTitle = page.title %}
            {% else %}
                {% assign pageTitle = page.title | append: ' | ' | append: site.title %}
            {% endif %}
        {% else %}
                {% assign pageTitle = site.title %}
        {% endif %}

        {% comment %} Output computed page title {% endcomment %}
        {{ pageTitle }}
    </title>

    <meta name="theme-color" content="#D80000">

    <!-- Meta Description for Search + Social Media Description for Open Graph -->
    {% if page.metadata.description %}
        <meta property="og:description" content="{{ page.metadata.description }}">
        <meta name="description" content="{{ page.metadata.description }}">
    {% elsif page.excerpt %}
        <meta property="og:description" content="{{ page.excerpt  | strip_html | strip }}">
        <meta name="description" content="{{ page.excerpt  | strip_html | strip }}">
    {% else %}
        <meta property="og:description" content="{{ site.description }}">
        <meta name="description" content="{{ site.description }}">
    {% endif %}

    <!-- If metadata.image is provided, like ebike blog post, use that -->
    {% if page.metadata.image %}
        <meta property="og:image" content="{{ page.metadata.image }}" />
    {% else %}
        <meta property="og:image" content="http://viktorkoves.com/images/social-image.png" />
    {% endif %}

    <!-- Social Media Title Open Graph -->
    <meta property="og:title" content="{{ pageTitle }}">

    <meta name="viewport" content="width=450, initial-scale=0.75">

    <!--
        Enable View Transitions.
        Learn more: https://daverupert.com/2023/05/getting-started-view-transitions/
    -->
    <meta name=”view-transition” content=”same-origin”>

    <!-- Google Analytics -->
    <meta name="google-site-verification" content="aivQX75RILmCefXvQj496cBxd8ycZ-AWTKRMQJGoyA4" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FTB4TQN5X0"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-FTB4TQN5X0');
    </script>
</head>

<body>
    {% include header.html %}

    <!-- Include any CSS classes requested for the page by pageClass, and also
        include the layout name so individual layouts can have their own stylesheet
        with simple CSS scoping -->
    <main id="main-content"
        class="page-container {{ page.pageClass }} {{ page.layout }}">
        {{ content }}
    </main>

    {% include footer.html %}
</body>
</html>
